body {
  padding: 0;
  margin: 0;
}

#map,
body,
html {
  height: 100%;
}

.legend {
  color: #555;
  font-family: Arial, Helvetica, sans-serif;
  font-weight: bold;
  padding: 2px 8px;
  background: rgba(255,255,255,0.8);
  box-shadow: 0 0 15px rgba(0,0,0,0.2);
  border-radius: 5px;
  border: 1px solid #555;
}

.data_container{
  height: 12em;
}

.gradient{
  width: 2em;
  height: calc(100% - 1em);
  background: linear-gradient(#B6FFC2, #59C0ED, #0065B2, #761DAD, #CD3300);
  float: left;
  margin: 0.5em 0em 0.5em 0em;
}

.gradient_values{
  height: 100%;
}

.legend_title {
  font-size: 20px;
  margin: 0;
  padding: 2px;
}

.legend ul {
  height: 100%;
  padding: 0;
  list-style: none;
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  margin: 0;
}

.legend li {
  padding: 0px 8px;
}